<a href="https://colab.research.google.com/github/gabgallard/hello-world/blob/master/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if True:
asd

IndentationError: ignored

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
a = []

In [ ]:
type(a)

list

One can directly assign the sequence of data to a list x as shown.

In [ ]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [ ]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [ ]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [ ]:
y = ['carrot','potato']

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
num[0:4]

[0, 1, 2, 3]

In [ ]:
num[:4]

[0, 1, 2, 3]

In [ ]:
num[4:]

[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [ ]:
num[:9:3]

[0, 3, 6]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [ ]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [ ]:
min(num)

0

In [ ]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [ ]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [ ]:
xyz = divmod(10,3)
xyz

(3, 1)

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [ ]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [ ]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [ ]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [ ]:
tup3 = tuple([1,2,3])
tup3

(1, 2, 3)

In [ ]:
tup4 = tuple('Hello')
tup4

('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [ ]:
tup5 = tup4[:3]
tup5

('H', 'e', 'l')

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
set1 = set()

In [ ]:
set0 = set([1,2,2,3,3,4])
set0

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [ ]:
set1 = set([1,2,3])

In [ ]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 5}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [ ]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [ ]:
set1.difference(set2)

{0, 1}

## Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [ ]:
d0 = {}
d1 = dict()
d0, d1

({}, {})

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [ ]:
d0['One'] = 1
d0['OneTwo'] = 12 
d0

{'One': 1, 'OneTwo': 12}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [ ]:
d0['One']

1

Two lists which are related can be merged to form a dictionary.

In [ ]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

**zip( )** function is used to combine two lists

In [ ]:
d2 = list(zip(names, numbers))
d2

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

### Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [ ]:
d1.clear()
d1

{}

Dictionary can also be built using loops.

In [ ]:
for i in range(len(names)):
    d1[names[i]] = numbers[i]
d1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

**values( )** function returns a list with all the assigned values in the dictionary.

In [ ]:
d1.values()

dict_values([1, 2, 3, 4, 5])

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [ ]:
d1.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [ ]:
d1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [ ]:
d2 = d1.pop('Four')
d1, d2

({'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}, 4)

# Exercises

In [ ]:
# Make a list of all months of the year in order and assign that to the variable months

In [ ]:
# Print the first 3 months of the year

In [ ]:
# Make a list of the numbers 1 to 12

In [ ]:
# Make a dictionary that maps from number to month name, e.g. {1: "January", ...}